@import "./variable";




.main-nav{
width: 99%;
height: 4rem;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items:center;
scroll-snap-align:start;




}

.icon-nav{
  width: 45px;
  padding-left: 8px;
}

.nav-menu{
  position: absolute;
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  visibility: hidden;
  

}


    .list__link{
      color: $white-fortext;
      @include textShadows;
      font-family: sans-serif;
    }

    .list__link:hover{
      background-color: $secondary-color;
      transition: all 300ms ease-in-out;
      color: $primary-color;
      text-shadow: none;
      cursor: pointer;
     
    }
 

.ham {

  display: block;
  width: 34px;
  height: 3px;
margin-right: .4rem;
  background-color: #ffff;
  border-radius: 3px;
 
}

.ham::after {
  content: "";
  position: relative;
  bottom: 11px;
  display: block;
  width: 34px;
  height: 3px;
  background-color: #ffff;
  border-radius: 3px;
}
.ham::before {
  content: "";
  position: relative;
  top: 8px;
  display: block;
  width: 34px;
  height: 3px;
  background-color: #ffff;
  border-radius: 3px;
}

.ham:hover{
  cursor: pointer;
}

.ham:active{
transform: scale(0.9);

}


.toggle{
  visibility: visible;
  top: 4rem;
 right: 3px;
 left: 0;
width:100% ;
 height: calc(100% - 64px);
  @include gradientBG;
  text-align: center;
  gap: 2rem;
  transition: all 400ms ease-in-out ;

}
.toggle .list__link{
  font-size: 1.5rem;
  padding: 2px 20px;
  border-radius: 15px;

}
//media pc
@media screen and (min-width: 90em){
  .nav-menu{
    visibility: visible;
    left: 75%;
    top: 19%;;
    gap: 1rem;
    z-index: 10;

    .list__item {
      
      a{
        padding: 3px 13px;
        border-radius: 8px;
        
        
        font-size: 1.3rem;
        letter-spacing: 1.8px;
      }

      
    }

   

    
  }
  .ham{
    display: none;
  
  }

  .nav-menu__cot{
   
    
  }
}