$primary-color: #1b7e7f;
$secondary-color: #ffbd4a;
$white-fortext: #f1f1f1;
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap");

html {
  font-family: "Anton", sans-serif;
  color: $white-fortext;
  scroll-snap-type: y  mandatory;
  overflow-y: scroll;
  height: 100vh;
overflow-x: hidden;
 
}
body{
  scroll-behavior: smooth;
}
section{
  scroll-snap-align:start;
}

h2,h3{
  font-weight: 400;
}
a,
ul {
  text-decoration: none;
  list-style: none;
}

p {
  font-family: "Bebas Neue", sans-serif;
}
button{
  cursor: pointer;
}

@mixin textShadows{
  text-shadow: 2px 2px 10px rgba($color: #000000, $alpha: 0.8);
}

@mixin boxShadowCard{
  box-shadow: 8px 8px 40px rgba($color: rgb(18, 18, 18), $alpha: 1.0),  6px 6px 30px rgba($color: #000000, $alpha: 0.8);
}
@mixin gradientBG {
  background: linear-gradient(
    135.05deg,
    #124b39 0%,
    #1b7e7f 0.32%,
    #115c5c 18.08%,
    #124f50 38.69%,
    #124848 44.49%,
    #0d3e3f 61.63%,
    #0c3a3a 78.21%
  );
}

@mixin grandientFooter {
  background: linear-gradient(
    180deg,
    #115c5c 0%,
    rgba(14, 77, 78, 0.5) 56.92%,
    rgba(20, 107, 108, 0) 113.54%,
    rgba(23, 111, 112, 0.28125) 113.54%
  );
}

@mixin bgs__Ayuda {
  background: rgba(4, 4, 4, 0.75);
}

@mixin shadowAnat {
  filter: drop-shadow(21.4678px 56.028px 80px rgba(0, 0, 0, 0.18))
    drop-shadow(13.9143px 36.3144px 46.8519px rgba(0, 0, 0, 0.136667))
    drop-shadow(8.26907px 21.5812px 25.4815px rgba(0, 0, 0, 0.109333))
    drop-shadow(4.29355px 11.2056px 13px rgba(0, 0, 0, 0.09))
    drop-shadow(1.74923px 4.56524px 6.51852px rgba(0, 0, 0, 0.0706667))
    drop-shadow(0.397551px 1.03756px 3.14815px rgba(0, 0, 0, 0.0433333));
}


