$primary-color: #1b7e7f;
$secondary-color: #ffbd4a;
$white-fortext: #f1f1f1;
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap");

html {
  font-family: "Anton", sans-serif;
  color: $white-fortext;
}

a,
ul {
  text-decoration: none;
  list-style: none;
}

p {
  font-family: "Bebas Neue", sans-serif;
}
@mixin gradientBG {
  background: linear-gradient(
    135.05deg,
    #124b39 0%,
    #1b7e7f 0.32%,
    #115c5c 18.08%,
    #124f50 38.69%,
    #124848 44.49%,
    #0d3e3f 61.63%,
    #0c3a3a 78.21%
  );
}

@mixin grandientFooter {
  background: linear-gradient(
    180deg,
    #115c5c 0%,
    rgba(14, 77, 78, 0.5) 56.92%,
    rgba(20, 107, 108, 0) 113.54%,
    rgba(23, 111, 112, 0.28125) 113.54%
  );
}

@mixin bgs__Ayuda {
  background: rgba(4, 4, 4, 0.75);
}

@mixin shadowAnat {
  filter: drop-shadow(21.4678px 56.028px 80px rgba(0, 0, 0, 0.18))
    drop-shadow(13.9143px 36.3144px 46.8519px rgba(0, 0, 0, 0.136667))
    drop-shadow(8.26907px 21.5812px 25.4815px rgba(0, 0, 0, 0.109333))
    drop-shadow(4.29355px 11.2056px 13px rgba(0, 0, 0, 0.09))
    drop-shadow(1.74923px 4.56524px 6.51852px rgba(0, 0, 0, 0.0706667))
    drop-shadow(0.397551px 1.03756px 3.14815px rgba(0, 0, 0, 0.0433333));
}

//grid artesanal
//smart phone
@media screen and (min-width: 24.375em) {
  .col-s-1 {
    width: 8.333333333333333%;
  }
  .col-s-2 {
    width: 16.66666666666667%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33333333333333%;
  }
  .col-s-5 {
    width: 41.66666666666667%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33333333333333%;
  }
  .col-s-8 {
    width: 66.66666666666667%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33333333333333%;
  }
  .col-s-11 {
    width: 91.66666666666667%;
  }
  .col-s-12 {
    width: 100%;
  }
}
@media screen and (min-width: 26.5625em) {
  .col-sm-1 {
    width: 8.333333333333333%;
    background-color: #0c3a3a;
  }
  .col-sm-2 {
    width: 16.66666666666667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33333333333333%;
  }
  .col-sm-5 {
    width: 41.66666666666667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33333333333333%;
  }
  .col-sm-8 {
    width: 66.66666666666667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33333333333333%;
  }
  .col-sm-11 {
    width: 91.66666666666667%;
  }
  .col-sm-12 {
    width: 100%;
  }
}

@media screen and (min-width: 48em) {
  .col-md-1 {
    width: 8.333333333333333%;
  }
  .col-md-2 {
    width: 16.66666666666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33333333333333%;
  }
  .col-md-5 {
    width: 41.66666666666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33333333333333%;
  }
  .col-md-8 {
    width: 66.66666666666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33333333333333%;
  }
  .col-md-11 {
    width: 91.66666666666667%;
  }
  .col-md-12 {
    width: 100%;
  }
}

@media screen and (min-width: 65.875em) {
  .col-lg-1 {
    width: 8.333333333333333%;
  }
  .col-lg-2 {
    width: 16.66666666666667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33333333333333%;
  }
  .col-lg-5 {
    width: 41.66666666666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33333333333333%;
  }
  .col-lg-8 {
    width: 66.66666666666667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33333333333333%;
  }
  .col-lg-11 {
    width: 91.66666666666667%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

@media screen and (min-width: 75em) {
  .col-xl-1 {
    width: 8.333333333333333%;
  }
  .col-xl-2 {
    width: 16.66666666666667%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.33333333333333%;
  }
  .col-xl-5 {
    width: 41.66666666666667%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.33333333333333%;
  }
  .col-xl-8 {
    width: 66.66666666666667%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.33333333333333%;
  }
  .col-xl-11 {
    width: 91.66666666666667%;
  }
  .col-xl-12 {
    width: 100%;
  }
}
