@import "./variable";
@import "./navbar";
@import "./normalize";
@import "./media";

// font-family: 'Bebas Neue', sans-serif;

.container {
  width: 100%;
  @include gradientBG;
  margin: 0 auto;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 80vh;
  justify-content: center;
  padding-top: 5rem;
}
.banner-left {
  padding: 10px;
  display: flex;
  flex-direction: column;

  .logo{
    width: 40%;
    height: auto;
  }

  .title {
    font-weight: lighter;
    text-transform: uppercase;

    line-height: 2.5rem;
    letter-spacing: 1px;
    font-size: 1.8rem;
  }

  .cta {
    align-self: flex-end;
    border-radius: 5px;
    padding: 3px 8px;
    background-color: $secondary-color;

    a {
      color: #000;
    }
  }
}

.banner-rigth {
  .banner__img {
    width: 100%;
    height: auto;
  
  }
}
.about{
    width: 100%;
    display: flex;
    flex-direction: column;
   
    background-color: $secondary-color;
    color: #000;
}
.about__left{
    text-align: center;

}

.about__right{
    text-align: center;
    padding: .5rem;
}
.abaut__img{
    width: 60%;
    height: auto;
   padding-top: 3rem;

}


.card__copy {
  .title__copy {
    font-size:2rem;
    letter-spacing: 2px;
  }
  .copy__about {
    font-size:1.5rem;
    line-height: 1.8rem;
    padding: 0 10px;
  }
  .cta {
    border-radius: 5px;
    padding: 3px 8px;
    background-color: $primary-color;

    a{
        color: $white-fortext;
        letter-spacing: 1.5px;
    }
  }
}


.productos {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}
.productos__image {

  padding: 0 10px;
  .anatomia {
    width: 100%;
    height: auto;
    @include shadowAnat;
  }
}

.productos__copy {
  padding: 10px;
 
  .productos__title {
    font-size:1.5rem;
    letter-spacing: 2px;
  }
  .productos__text {
    font-size: 1.3rem;
  }
}

.ayuda {
  padding: 10px;
}
.ayuda__title {
  font-size:1.5rem;
    letter-spacing: 2px;
}

.cards-ayuda {
  .card__ayuda {
    .card__image {
    }
    .card__text {
    }
  }
}
