@import "./variable";
@import "./navbar";
@import "./normalize";
@import "./media";

// font-family: 'Bebas Neue', sans-serif;

.container {
  @include gradientBG;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100 vh;
  justify-content: center;
  padding-top: 5rem;
}
.banner-left {
  padding: 10px;
  display: flex;
  flex-direction: column;

  .logo {
    width: 40%;
    height: auto;
  }

  .title {
    font-weight: lighter;
    text-transform: uppercase;

    line-height: 2.5rem;
    letter-spacing: 1px;
    font-size: 1.8rem;
  }

  .cta {
    align-self: flex-end;
    border-radius: 5px;
    padding: 3px 8px;
    background-color: $secondary-color;

    a {
      color: #000;
    }
  }
}

.banner-rigth {
  .banner__img {
    width: 80%;
    height: auto;
  }
}
.about {
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: $secondary-color;
  color: #000;
  padding: 13px;
  justify-content: center;
  align-items: center;
}
.about__left {
  width: 18.75em;
  text-align: center;
}

.about__right {
  width: 18.75em;
  text-align: center;
}
.abaut__img {
  width: 70%;
  height: auto;
}
.line__about {
  display: block;
  border-bottom: 1px solid black;
}

.card__copy {
  .title__copy {
    font-size: 2rem;
    letter-spacing: 2px;
  }
  .copy__about {
    font-size: 1rem;
    line-height: 1.3rem;
    padding: 0 10px;
    margin: 2px;
  }
  .cta {
    border-radius: 5px;
    padding: 3px 8px;
    background-color: $primary-color;

    a {
      color: $white-fortext;
      letter-spacing: 1.5px;
    }
  }
}

.productos {
  display: flex;
  flex-direction: column;
  height: 100vh;
align-items: center;

}

.productos__image {
  width: 50%;
  min-width: 300px;

  padding: 0 10px;
  .anatomia {
    width: 100%;
    height: auto;
    @include shadowAnat;
  }
}

.productos__copy {
  padding: 10px;

  .productos__title {
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: 2px;
  }
  .productos__text {
    font-size: 1.3rem;
  }
}

.ayuda {
  text-align: center;
  position: relative;
}
.ayuda__bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  background-image: url(/assets/bg-ayuda.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: brightness(0.5);
}
.ayuda__title {
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.cards-ayuda {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  flex-wrap: wrap;
  gap: 1rem;
  z-index: 10;

  .card__ayuda {
    width: clamp(280px, 60vw, 400px);
    height: clamp(180px, 40vh, 300px);

    display: flex;
    flex-direction: column;

    .card__image {
      display: block;
      width: 100%;
      height: 100%;
    }
    .card-1 {
      background-image: url(/assets/image-1.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }

    .card-2 {
      background-image: url(/assets/image-2.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }
    .card-3 {
      background-image: url(/assets/image-3.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.footer {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 10px;
  scroll-snap-align: end;
}

.footer-redes,
.footer-addres,
.footer__R {
  width: 26.16em;
}

.footer-addres {
  a {
    color: $white-fortext;
  }
}

.footer-redes {
 margin: 0 auto;
  .redes__images {
    display: flex;
    justify-content: center;

    gap: 1rem;
    transition: all 300ms ease-in-out;
  }

  .redes__images a:hover {
    transform: scale(1.1);
  }
}

.footer__R {
  a {
    color: $white-fortext;
  }
}

.firma {
  padding-left: 2rem;
  padding-bottom: 1rem;
  span {
    color: $secondary-color;
  }
}
